@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--light-gray);
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 30rem;
    height: 70%;
    background: var(--white);
    padding: 15px;
    border-radius: 15px;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qr-img {
    border-radius: 10px;
    width: 100%;
    height: 80%;
}

.content {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 17px;
    margin-bottom: 15px;
    color: var(--dark-blue);
}

p {
    font-size: 13px;
    color: var(--grayish-blue);
}

@media only screen and (max-width: 768px) {
    .container {
        width: 80%;
    }
}